body {
    overflow-x: hidden;
}

html::-webkit-scrollbar-track {
    width: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.01);
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.01);
}

html::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(85, 85, 85, 0.5);
}